- if defined?(hide_general) && hide_general
  - if testing_ground.errors.any?
    %ul.errors
      - testing_ground.errors.full_messages.uniq.each do |message|
        %li= message

= form_for(testing_ground) do |f|
  = render 'general_form', form: f
  = render 'technologies_form', form: f, testing_ground: testing_ground, submit_text: submit_text

  .form-group
    = f.submit "#{submit_text} Local Energy Solution", class: 'btn btn-success'
    - unless testing_ground.new_record?
      = link_to "Save As New Local Energy Solution", "#", data: { url: save_as_testing_ground_path(testing_ground) }, class: "btn btn-primary save_as"

    %span.or or
    - if testing_ground.new_record?
      = link_to 'Cancel', testing_grounds_path, class: 'btn btn-default'
    - else
      = link_to 'Cancel', testing_ground_path(testing_ground), class: 'btn btn-default'
