- if testing_ground.errors.any?
  %ul.errors
    - testing_ground.errors.full_messages.uniq.each do |message|
      %li= message

= form_for(testing_ground) do |f|
  - if @testing_ground.scenario_id
    = f.hidden_field :scenario_id

  - if @testing_ground.topology_id
    = f.hidden_field :topology_id
    .hidden
      = f.fields_for :topology do |topo_form|
        = topo_form.text_area :graph, value: @testing_ground.topology.graph.to_json

  .form-group
    = f.label :name, 'Testing ground name'
    = f.text_field :name, class: 'form-control'

  %ul.nav.nav-tabs{role: "tablist"}
    %li{role: "presentation", class: "active"}
      = link_to "#technologies", data:{toggle: 'tab'}, role: "tab", class: "btn btn-primary" do
        Technologies

    %li{role: "presentation"}
      = link_to "#profiles", data:{toggle: 'tab'}, role: "tab", class: "btn btn-primary" do
        Profiles

  .tab-content
    #technologies.tab-pane.active
      = f.text_area :technologies, value: technologies_field_value(testing_ground)
      - if testing_ground.new_record? && request.get?
        .form-group
          = f.label :technologies_csv, "CSV Upload"
          = f.file_field :technologies_csv, accept: 'text/csv'

    #profiles.tab-pane
      .form-group
        = f.text_area :technology_profile, value: technological_topology_field_value(testing_ground)
        .radio-button-group
          = radio_button_tag 'differentiation', "max", true
          = label_tag "Maximum concurrency"
          = radio_button_tag 'differentiation', "min"
          = label_tag "Minimum concurrency"

  .form-group
    = f.submit class: 'btn btn-primary'
    %span.or or
    - if testing_ground.new_record?
      = link_to 'Cancel', testing_grounds_path, class: 'btn btn-default'
    - else
      = link_to 'Cancel', testing_ground_path(testing_ground), class: 'btn btn-default'
