- if testing_ground.errors.any?
  %ul.errors
    - testing_ground.errors.full_messages.uniq.each do |message|
      %li= message

= form_for(testing_ground) do |f|
  - if @testing_ground.scenario_id
    = f.hidden_field :scenario_id

  = f.hidden_field :topology_id, value: testing_ground.topology_id

  .hidden
    = text_area_tag :technology_distribution, @testing_ground.technology_distribution.to_json

  .form-group
    = f.label :name, 'Local energy solution name'
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :public, "Permissions"

    .radio-buttons
      = f.radio_button :public, true
      = f.label :public, "Public", class: "radio-label"
      = f.radio_button :public, false
      = f.label :public, "Private", class: "radio-label"

    = tooltip_tag(t(:'testing_grounds.form.public.tooltip'))

  = f.label :technology_profile, "Technology profile"
  .help-block
    %p
      Use the interactive table below to:
      %ul
        %li Connect the technologies from your scaled scenario to the endpoints of your chosen network topology.
        %li Edit the properties of the technologies
        %li Attach profiles to technologies

  #profiles-table
    = render partial: "testing_grounds/profile_table", locals: {testing_ground_profile: @testing_ground.technology_profile.as_json}

  - unless testing_ground.new_record?
    .form-group.pull-right
      = link_to "Export to CSV", technology_profile_testing_ground_path(@testing_ground, format: :csv), class: "btn btn-primary"

  .concurrency
    %strong Select the technologies to switch concurrency
    .checkboxes
      - 3.times do
        %span.check_box
          %strong= "Max/min"
      - @technologies.with_load_profiles.each do |technology|
        %span.check_box
          = radio_button_tag technology.key, "max", true
          = radio_button_tag technology.key, "min"
          %span= technology.name

      .buttons
        = link_to "Toggle all", "#!", class: "toggle-whitelist btn btn-default"
        - edit_class = (testing_ground.new_record? ? "" : "edit")
        = link_to "Apply", "#!", class: "toggle-concurrency btn btn-primary #{edit_class}"

  .form-group
    = f.label :technology_profile_csv, "Technology profile CSV"
    = tooltip_tag(t(:'testing_grounds.form.technology_profile_csv.tooltip'))
    = f.file_field :technology_profile_csv, accept: 'text/csv'

  .hidden
    = f.text_area :technology_profile

  .form-group
    = f.submit "#{submit_text} Local Energy Solution", class: 'btn btn-success'
    - unless testing_ground.new_record?
      = link_to "Save As New Local Energy Solution", save_as_testing_ground_path(testing_ground), method: :post, class: "btn btn-primary"
    %span.or or
    - if testing_ground.new_record?
      = link_to 'Cancel', testing_grounds_path, class: 'btn btn-default'
    - else
      = link_to 'Cancel', testing_ground_path(testing_ground), class: 'btn btn-default'
