- if testing_ground.errors.any?
  %ul.errors
    - testing_ground.errors.full_messages.uniq.each do |message|
      %li= message

%p
  Specify the profiles and adjust the technologies to create your LES.

= form_for(testing_ground) do |f|
  - if @testing_ground.scenario_id
    = f.hidden_field :scenario_id

  - if @testing_ground.topology_id
    = f.hidden_field :topology_id
    .hidden
      = f.fields_for :topology do |topo_form|
        = topo_form.text_area :graph, value: @testing_ground.topology.graph.to_json

  .form-group
    = f.label :name, 'Testing ground name'
    = f.text_field :name, class: 'form-control'

  #profiles-table
    %table.table
      %thead
        %th Node
        %th Type
        %th Name
        %th Units
        %th Capacity
        %th Profile

      %tbody
        - @testing_ground_profile.each_pair do |node, technologies|
          - technologies.each do |technology|
            %tr
              %td= node
              - technology.values.each do |value|
                %td.editable
                  = value

              %th
                = link_to "#", class: "add-row" do
                  %span.glyphicon.glyphicon-plus
              %th
                = link_to "#", class: "remove-row" do
                  %span.glyphicon.glyphicon-remove

  .radio-button-group
    = radio_button_tag 'differentiation', "max", true
    = label_tag "Maximum concurrency"
    = radio_button_tag 'differentiation', "min"
    = label_tag "Minimum concurrency"

  .hidden
    = f.text_area :technology_profile

  %br

  .form-group
    = f.submit class: 'btn btn-primary'
    %span.or or
    - if testing_ground.new_record?
      = link_to 'Cancel', testing_grounds_path, class: 'btn btn-default'
    - else
      = link_to 'Cancel', testing_ground_path(testing_ground), class: 'btn btn-default'
