.form-group
  = form.label :name, 'Local energy solution name'
  = form.text_field :name, class: 'form-control'

.form-group
  = form.label :public, "Permissions"

  - if (!testing_ground.topology || !testing_ground.market_model) || (testing_ground.topology.public? && testing_ground.market_model.public?)
    .radio-buttons
      = form.radio_button :public, true
      = form.label :public, "Public", class: "radio-label"
      = form.radio_button :public, false
      = form.label :public, "Private", class: "radio-label"

      = tooltip_tag(t(:'testing_grounds.form.public.tooltip'))

  - else
    = form.hidden_field :public, value: false
    .info
      You use a private topology or market model therefore your LES is private.

- if testing_ground.new_record?
  = form.hidden_field :parent_scenario_id, value: testing_ground.parent_scenario_id

- else
  .form-group
    = form.label :behavior_profile_id, 'Behavior profile'
    .temperature-profile
      = form.select :behavior_profile_id, options_for_behavior_profiles(testing_ground.behavior_profile_id), {include_blank: true}, class: 'form-control'

