%h2 General properties

.help-block
  %p
    Below you can change the name and permission of your LES. More information
    can be found in the
    = succeed '.' do
      %a(href="https://github.com/quintel/etmoses/wiki/Local-Energy-Solutions") documentation

.form-group
  = form.label :name, 'Local energy solution name'
  = form.text_field :name, class: 'form-control save-as-name'

.form-group
  = form.label :public, "Permissions"

  .radio-buttons
    = form.radio_button :public, true
    = form.label :public, "Public", class: "radio-label"
    = form.radio_button :public, false
    = form.label :public, "Private", class: "radio-label"

    = tooltip_tag(t(:'testing_grounds.form.public.tooltip'))

- if testing_ground.new_record?
  = form.hidden_field :parent_scenario_id, value: testing_ground.parent_scenario_id

- else
  .form-group
    = form.label :behavior_profile_id, 'Behavior profile'
    .temperature-profile
      = form.select :behavior_profile_id, options_for_behavior_profiles(testing_ground.behavior_profile_id), {include_blank: true}, class: 'form-control'

  .form-group
    = form.label :central_heat_buffer_capacity, 'Central heat buffer capacity per connection'
    .input-group(style="width: 150px")
      = form.number_field :central_heat_buffer_capacity, class: 'form-control', placeholder: '10.0', step: 0.1
      .input-group-addon kWh
