%table.table
  %thead
    %th.col-sm-2{data: {header: 'node'}} Node
    %th.col-sm-2{data: {header: 'name'}} Name
    %th.col-sm-3{data: {header: 'profile'}} Profile
    %th{data: {header: 'capacity'}} Capacity [kW]
    %th{data: {header: 'volume'}} Storage volume [kWh]
    %th{data: {header: 'demand'}} Yearly demand [kWh]
    %th{data: {header: 'units'}} Units
    %th{data: {header: 'in_cooperation'}} Include in cooperation
    %th.hidden{data: {header: 'concurrency'}} Concurrency

  %tbody
    .hidden.profile
      - @technologies.each do |technology|
        %select.form-control{class: technology.key, data: { defaults: technology_defaults(technology, testing_ground_profile) }}
          - if technology.key == "generic"
            = options_for_load_profiles
          - else
            = profile_table_options_for_profile(technology)

    - testing_ground_profile.each_pair do |node, technologies|
      - technologies.each do |technology|
        %tr{class: technology[:type]}
          %td.editable.select
            %select.nodes.form-control
              = node_options(testing_ground_profile, node)

          - technology.slice(*InstalledTechnology::EDITABLES).each_pair do |key, value|
            - case key
            - when :name
              %td.editable.select
                %select.name.form-control{data: {profile: technology[:profile]}}
                  = profile_table_options_for_name(technology)

            - when :profile
              %td.editable.select

            - when :concurrency
              %td.editable.hidden
                %input{type: 'text', value: value}

            - when :in_cooperation
              %td.editable
                = check_box_tag :in_cooperation

            - else
              %td.editable.text{class: key, data: { edit_type: 'text' }}
                %input.form-control{type: 'text', value: value }

          %td
            = link_to "#!", class: "add-row text-success" do
              %span.glyphicon.glyphicon-plus
          %td
            = link_to "#!", class: "remove-row text-danger" do
              %span.glyphicon.glyphicon-remove
