%table.table
  %thead
    %th.col-sm-2{data: {header: 'node'}} Node
    %th.col-sm-3{data: {header: 'name'}} Name
    %th.col-sm-3{data: {header: 'profile'}} Profile
    %th{data: {header: 'capacity'}} Capacity [kW]
    %th{data: {header: 'volume'}} Storage volume [kWh]
    %th{data: {header: 'demand'}} Yearly demand [kWh]
    %th{data: {header: 'units'}} Units

  %tbody
    .hidden.profile
      - @technologies.each do |technology|
        %select.form-control{class: technology.key}
          - if technology.key == "generic"
            = options_for_load_profiles
          - else
            = profile_table_options_for_profile(technology)

    - testing_ground_profile.each_pair do |node, technologies|
      - technologies.each do |technology|
        %tr
          %td.editable.select
            %select.nodes.form-control
              = node_options(testing_ground_profile, node)

          - technology.slice(*InstalledTechnology::EDITABLES).each_pair do |key, value|
            - if key == :name
              %td.editable.select
                %select.name.form-control{data: {profile: technology[:profile].jquery_safe}}
                  = profile_table_options_for_name(technology)

            - elsif key == :profile
              %td.editable.select

            - else
              %td.editable{data: profile_table_data(key, technology)}= value

          %th
            = link_to "#", class: "add-row text-success" do
              %span.glyphicon.glyphicon-plus
          %th
            = link_to "#", class: "remove-row text-danger" do
              %span.glyphicon.glyphicon-remove
