#les-menu
  %ul.nav.nav-tabs
    %li.load= link_to 'Network', testing_ground_path(testing_ground)

    - if testing_ground.gas_asset_list
      %li.gas_load= link_to 'Gas infrastructure', gas_load_testing_ground_path(testing_ground)

    - if testing_ground.business_case
      %li.business_case= link_to 'Business case', testing_ground_business_case_path(testing_ground, testing_ground.business_case)

    - if strategies
      %li.pull-right.les-controls
        .btn-group
          %button{type: "button", class: "btn btn-default dropdown-toggle", data: { toggle: "dropdown" } }
            Options
            %span.caret
          %ul.dropdown-menu
            %li.disabled= link_to "Download curve", "#", class: "download-curve"
            %li.divider{role: "separator"}
            %li.disabled= link_to 'Download technologies CSV', technology_profile_testing_ground_url(@testing_ground, format: :csv), class: "technologies-button"
            %li.disabled= link_to 'Electricity storage curves', testing_ground_electricity_storage_path(@testing_ground, format: :csv), class: "technologies-button"
            %li= link_to 'Download merit order price curve', testing_ground_price_curves_path(@testing_ground, format: :csv), class: "merit-button"
            %li= link_to 'Download merit order load curves', testing_ground_load_curves_path(@testing_ground, format: :csv), class: "merit-button"

            - if can_export?(@testing_ground)
              %li.divider{role: "separator"}
              %li= link_to 'Create national scenario', export_testing_ground_path(@testing_ground)

        .load-strategies.btn-group(role="group")
          %select.strategies.multi-select.form-control{multiple: "multiple"}
            = options_for_strategies

          .slider-wrapper.hidden
            %input#solar_pv_capping{type: 'text', data: {'slider-min' => 0, 'slider-max' => 100, 'slider-step' => 1, 'slider-value' => 100}}
            .clearfix
            %p.note Specify which percentage of solar production can be capped

          %button.btn.btn-primary.apply_strategies Apply

        - if policy(@testing_ground).edit?
          .main-buttons
            = link_to edit_testing_ground_path(@testing_ground), class: "btn btn-default" do
              .glyphicon.glyphicon-pencil
              Edit LES
