- if @testing_ground.scenario_id
  = form.hidden_field :scenario_id

= form.hidden_field :topology_id, value: testing_ground.topology_id
= form.hidden_field :market_model_id, value: testing_ground.market_model_id

%h2 Technology profile
.help-block
  %p
    Use the interactive table below to:
    %ul
      %li Connect the technologies from your scaled scenario to the endpoints of your chosen network topology
      %li Edit the properties of the technologies
      %li Attach profiles to technologies

#profiles-table{ data: { render_template_url: render_template_testing_grounds_path(scenario_id: @testing_ground.scenario_id, format: :js) } }
  = render partial: "testing_grounds/profile_table", locals: {topology: @testing_ground.topology, testing_ground_profile: @testing_ground.technology_profile}

- unless testing_ground.new_record?
  .form-group.pull-right
    = link_to "Export to CSV", technology_profile_testing_ground_path(@testing_ground, format: :csv), class: "btn btn-primary"

  .clearfix

.form-group
  = form.label :technology_profile_csv, "Technology profile CSV"
  = tooltip_tag(t(:'testing_grounds.form.technology_profile_csv.tooltip'))
  = form.file_field :technology_profile_csv, accept: 'text/csv'

.hidden.profile
  - Technology.base_loads.each do |tech|
    %select.form-control{ class: tech.key, data: { type: 'profile' } }
      = options_for_load_profiles(tech)

.hidden
  = form.text_area :technology_profile, value: @testing_ground.technology_profile.to_json
  = text_area_tag :technology_distribution, @technology_distribution.to_json
