.technology{id: "T#{technology.object_id}", class: technology_class(technology), data: technology_data(technology, node) }
  .advanced-actions.pull-right

    .btn-group
      - if technology.technology.expandable?
        = link_to "#!", class: "btn btn-default btn-sm split" do
          %span.glyphicon.glyphicon-resize-full
          Split

      = link_to "Advanced settings", "#!", class: "btn btn-default btn-sm show-advanced"

    = link_to "#!", class: "remove-row btn btn-default btn-sm" do
      %span.glyphicon.glyphicon-trash

  - if technology.sticks_to_composite?
    .indent.arrow

  .wrapper-tech
    %strong
      = I18n.t("inputs.#{ technology.type || 'unknown' }", default: :'inputs.unknown')
      = technology.name_adjective

    - if technology.whitelisted?('profile')
      .editable.profile.select
        %span Profile
        %select.profile.form-control{autocomplete: 'off', data: { type: 'profile' }}
          = options_for_load_profiles(technology.technology, selected: technology.profile)

    - if technology.whitelisted?('buffer')
      .editable.buffer.select
        %span Buffer
        %select.buffer.form-control{autocomplete: 'off', data: { type: 'buffer' }}

    - if technology.whitelisted?('position_relative_to_buffer')
      .editable.position_relative_to_buffer
        %span Position technology

        - buffering_positions(technology).each do |position|
          %label.radio-inline{class: ('active' if position == technology.position_relative_to_buffer)}
            %input{type: 'radio', value: 'after', name: "position_relative_to_buffer_name_#{ technology.object_id }", checked: ('checked' if position == technology.position_relative_to_buffer), value: position, data: {type: 'position_relative_to_buffer'} }/
            = position.humanize

        = tooltip_tag(t(:'testing_grounds.form.position_relative_to_buffer.tooltip'))

        .clearfix

    - if technology.whitelisted?('congestion_reserve_percentage')
      .editable.battery-slider
        %span Congestion reserve
        %span.tick.min 0%
        %input.slider{data: {'slider-min' => 0, 'slider-max' => 100, 'slider-step' => 1, 'slider-value' => technology.congestion_reserve_percentage, 'type' => 'congestion_reserve_percentage'}}
        %span.tick.max 100%
        %span.tick.value
          = "#{ technology.congestion_reserve_percentage.to_i }%"
        = tooltip_tag(t(:'testing_grounds.form.congestion_reserve_percentage.tooltip'))
        .clearfix

    - if technology.whitelisted?('output_capacity')
      .editable.text{class: 'capacity'}
        %span Output capacity [kW]
        %input.form-control{type: 'text', value: technology.capacity, data: { type: 'capacity', data_type: 'float', round: 2 } }
        .clearfix

    - if technology.whitelisted?('demand')
      .editable.text{class: 'demand'}
        %span Demand [kWh]
        %input.form-control{type: 'text', value: technology.demand, data: { type: 'demand', data_type: 'float', round: 0} }
        .clearfix

    - if technology.whitelisted?('input_capacity')
      .editable.text{class: 'carrier_capacity'}
        %span
          %span.tick> Input capacity (
          %span.tick.carrier>= technology.carrier
          %span.tick ) [kW]
        %input.form-control{type: 'text', value: technology.carrier_capacity, disabled: "disabled", data: { type: 'carrier_capacity', data_type: 'float', round: 2 } }
        .clearfix

    - if technology.whitelisted?('volume')
      .editable.text{class: 'volume'}
        %span Volume [kWh]
        %input.form-control{type: 'text', value: technology.volume, data: { type: 'volume', data_type: 'float', round: 1 }}
        .clearfix

    - if technology.whitelisted?('components')
      - technology.components.each do |component|
        .component
          - if component.whitelisted?('position_relative_to_buffer')
            .editable.hidden{class: 'position_relative_to_buffer'}
              %input.form-control{type: 'text', value: component.position_relative_to_buffer, data: { type: 'position_relative_to_buffer' } }

          - if component.whitelisted?('output_capacity')
            .editable.text{class: 'capacity'}
              %span
                %span.tick> Output capacity (
                %span.tick.carrier>= component.carrier
                %span.tick ) [kW]

              %input.form-control{type: 'text', value: component.capacity, data: { type: "#{ component.type }_capacity", data_type: 'float', round: 2 } }
              .clearfix

          - if component.whitelisted?('performance_coefficient')
            .editable.text{class: 'performance_coefficient'}
              %span
                %span.tick>= t(:"installed_technology_attributes.performance_coefficient")
                %span.tick &nbsp;
                %span.tick (
                %span.tick.carrier>= component.carrier
                %span.tick )

              %input.form-control{type: 'text', value: component.performance_coefficient, data: { type: "#{ component.type }_performance_coefficient", data_type: 'float', round: 2 } }
              .clearfix

    .editable.text.units{class: ('hidden' unless technology.whitelisted?('units'))}
      %span Units
      %input.form-control{type: 'text', value: technology.units, data: { type: 'units', data_type: 'integer' }}
      .clearfix

    - InstalledTechnology.attribute_set.each do |attribute|
      - if attribute.options[:hidden]
        .editable.hidden{class: attribute.name}
          %input.form-control{type: 'text', value: technology.public_send(attribute.name), data: { type: attribute.name } }

      - if attribute.options[:advanced] && technology.whitelisted?(attribute.name)
        .editable.advanced.hidden{class: attribute.name}
          %span= t(:"installed_technology_attributes.#{ attribute.name }")
          %input.form-control{type: 'text', value: technology.public_send(attribute.name), data: { type: attribute.name, data_type: 'float', round: 1 } }
          .clearfix

    .clearfix
  .clearfix

- if technology.associates.any?
  - technology.associates.each do |associate|
    = render partial: "technology_template", locals: { technology: associate, node: node }
