- if @testing_ground.user != current_user
  .alert.alert-warning{role: 'alert'}
    %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
    %span.sr-only Warning:
    You are now editing #{@testing_ground.user.name}'s Local Energy Solution (LES)!

%h2
  Edit local energy solution:
  = @testing_ground.name

- if @testing_ground.errors.any?
  %ul.errors
    - @testing_ground.errors.full_messages.uniq.each do |message|
      %li= message

%ul.nav.nav-tabs{role: "tablist"}
  %li{role: "presentation"}
    = link_to "General", "#general", "aria-controls" => "general", "role" => "tab", data: { toggle: "tab" }
  %li{role: "presentation", class: "active"}
    = link_to "Technologies", "#technologies", "aria-controls" => "home", "role" => "tab", data: { toggle: "tab" }
  %li{role: "presentation"}
    = link_to "Topology", "#topology", "aria-controls" => "topology", "role" => "tab", data: { toggle: "tab" }
  %li{role: "presentation"}
    = link_to "Market model", "#market-model", "aria-controls" => "market-model", "role" => "tab", data: { toggle: "tab" }

  - if @testing_ground.business_case
    %li{role: "presentation"}
      = link_to "Business case", "#business-case", "aria-controls" => "business-case", "role" => "tab", data: { toggle: "tab" }

.tab-content
  .tab-pane.remote.edit#general{role: "tabpanel"}
    = form_for @testing_ground, action: testing_ground_path(@testing_ground, format: :js), html: { remote: true } do |form|
      = render partial: 'general_form', locals: { form: form, testing_ground: @testing_ground }
      .hidden
        = form.text_field "form_type", value: "general"
      .form-group
        = form.submit "Save", class: 'btn btn-primary'
        %span.wait.hidden= image_tag 'wait.gif'

  .tab-pane.remote.edit.active#technologies{role: "tabpanel"}
    = form_for @testing_ground, action: testing_ground_path(@testing_ground, format: :js), html: { remote: true } do |form|
      = render partial: 'technologies_form', locals: { form: form, testing_ground: @testing_ground, submit_text: "Save" }
      .hidden
        = form.text_field "form_type", value: "technologies"
      .form-group
        = form.submit "Save", class: 'btn btn-primary'
        %span.wait.hidden= image_tag 'wait.gif'

  .tab-pane.remote.edit#topology{role: "tabpanel"}
    = render partial: 'topologies/form', locals: { topology: @testing_ground.topology, action: clone_topology_path(@testing_ground.topology, format: :js), hide_cancel: true, remote: true }

  .tab-pane.remote.edit#market-model{role: "tabpanel"}
    = render partial: 'market_models/form', locals: { market_model: @testing_ground.market_model, action: clone_market_model_path(@testing_ground.market_model, format: :js), remote: true }

  - if @testing_ground.business_case
    .tab-pane.remote.edit#business-case{role: "tabpanel"}
      = render partial: 'business_cases/form', locals: { testing_ground: @testing_ground, business_case: @testing_ground.business_case }

.btn-group.pull-right
  %span.wait.hidden= image_tag 'wait.gif'
  = link_to "Save all", "#", class: "btn btn-primary save-all"
  = link_to "View LES", testing_ground_path(@testing_ground), class: "btn btn-primary"

.clearfix
