- if @testing_ground.user != current_user
  .alert.alert-warning{role: 'alert'}
    %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
    %span.sr-only Warning:
    You are now editing #{@testing_ground.user.name}'s Local Energy Solution (LES)!

%h2
  Edit local energy solution:
  = @testing_ground.name

<<<<<<< HEAD
%ul.nav.nav-tabs{role: "tablist"}
  %li{role: "presentation", class: "active"}
    = link_to "Technologies", "#technologies", "aria-controls" => "home", "role" => "tab", data: { toggle: "tab" }
  %li{role: "presentation"}
    = link_to "Topology", "#topology", "aria-controls" => "topology", "role" => "tab", data: { toggle: "tab" }
  %li{role: "presentation"}
    = link_to "Market model", "#market-model", "aria-controls" => "market-model", "role" => "tab", data: { toggle: "tab" }
  %li{role: "presentation"}
    = link_to "Business case", "#business-case", "aria-controls" => "business-case", "role" => "tab", data: { toggle: "tab" }

.tab-content
  .tab-pane.edit.active#technologies{role: "tabpanel"}
    = render partial: 'form', locals: { testing_ground: @testing_ground, submit_text: "Save" }

  .tab-pane.edit#topology{role: "tabpanel"}
    = render partial: 'topologies/form', locals: { topology: @testing_ground.topology, action: clone_topology_path(@testing_ground.topology) , hide_cancel: true }

  .tab-pane.edit#market-model{role: "tabpanel"}
    = render partial: 'market_models/form', locals: { market_model: @testing_ground.market_model, action: clone_market_model_path(@testing_ground.market_model) }

  .tab-pane.edit#business-case{role: "tabpanel"}
    = render partial: 'business_cases/form', locals: { testing_ground: @testing_ground, business_case: @testing_ground.business_case }
