- if @testing_ground.user != current_user
  .alert.alert-warning{role: 'alert'}
    %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
    %span.sr-only Warning:
    You are now editing #{@testing_ground.user.name}'s Local Energy Solution (LES)!

%h2
  Edit local energy solution:
  = @testing_ground.name

- if @testing_ground.errors.any?
  %ul.errors
    - @testing_ground.errors.full_messages.uniq.each do |message|
      %li= message

%ul.nav.nav-tabs.edit{role: "tablist"}
  %li{role: "presentation"}
    = link_to "General", "#general", "aria-controls" => "general", "role" => "tab", data: { toggle: "tab" }
  %li{role: "presentation", class: "active"}
    = link_to "Technologies", "#technologies", "aria-controls" => "home", "role" => "tab", data: { toggle: "tab" }

  - if @testing_ground.topology
    %li{role: "presentation"}
      = link_to "Topology", "#topology", "aria-controls" => "topology", "role" => "tab", data: { toggle: "tab" }

  - if @testing_ground.market_model
    %li{role: "presentation"}
      = link_to "Market model", "#market-model", "aria-controls" => "market-model", "role" => "tab", data: { toggle: "tab" }

  - if @testing_ground.business_case && @testing_ground.business_case.financials
    %li{role: "presentation"}
      = link_to "Business case", "#business-case", "aria-controls" => "business-case", "role" => "tab", data: { toggle: "tab" }

  - if @testing_ground.gas_asset_list
    %li{role: "presentation"}
      = link_to "Gas asset list", "#gas-asset-list", "aria-controls" => "gas-asset-list", "role" => "tab", data: { toggle: "tab" }

  - if @testing_ground.heat_source_list
    %li{role: "presentation"}
      = link_to "Heat source list", "#heat-source-list", "aria-controls" => "heat-source-list", "role" => "tab", data: { toggle: "tab" }

  - if @testing_ground.heat_asset_list
    %li{role: "presentation"}
      = link_to "Heat asset list", "#heat-asset-list", "aria-controls" => "heat-asset-list", "role" => "tab", data: { toggle: "tab" }

.tab-content
  .tab-pane.remote.edit#general{role: "tabpanel"}
    = form_for @testing_ground, action: testing_ground_path(@testing_ground, format: :js), html: { remote: true } do |form|
      = render partial: 'general_form', locals: { form: form, testing_ground: @testing_ground }
      .hidden
        = form.text_field "form_type", value: "general"
      .form-group
        .btn-group
          = form.submit "Save", class: 'btn btn-primary'
          = link_to "Save As New Local Energy Solution", "#", data: { url: save_as_testing_ground_path(@testing_ground) }, class: "btn btn-success save_as"
          = save_all_button(testing_ground_path(@testing_ground))
        %span.wait.hidden= image_tag 'wait.gif'

  .tab-pane.remote.edit.active#technologies{role: "tabpanel"}
    = form_for @testing_ground, action: testing_ground_path(@testing_ground, format: :js), authenticity_token: true, html: { remote: true } do |form|
      = render partial: 'technologies_form', locals: { form: form, testing_ground: @testing_ground, submit_text: "Save" }
      .hidden
        = form.text_field "form_type", value: "technologies"
      .form-group
        .btn-group
          = form.submit "Save", class: 'btn btn-primary'
          = save_all_button(testing_ground_path(@testing_ground))
        %span.wait.hidden= image_tag 'wait.gif'

  - if @testing_ground.topology
    .tab-pane.remote.edit#topology{role: "tabpanel"}
      = render partial: 'topologies/form', locals: { topology: @testing_ground.topology, action: clone_topology_path(@testing_ground.topology, format: :js), hide_cancel: true, remote: true }

  - if @testing_ground.market_model
    .tab-pane.remote.edit#market-model{role: "tabpanel"}
      = render partial: 'market_models/form', locals: { market_model: @testing_ground.market_model, action: clone_market_model_path(@testing_ground.market_model, format: :js), remote: true }

  - if @testing_ground.business_case && @testing_ground.business_case.financials
    .tab-pane.remote.edit#business-case{role: "tabpanel"}
      = render partial: 'business_cases/form', locals: { testing_ground: @testing_ground, business_case: @testing_ground.business_case }

  - if @testing_ground.gas_asset_list
    .tab-pane.remote.edit#gas-asset-list{role: "tabpanel"}
      = render partial: 'gas_asset_lists/form', locals: { testing_ground: @testing_ground, gas_asset_list: @gas_asset_list }

  - if @testing_ground.heat_source_list
    .tab-pane.remote.edit#heat-source-list{role: "tabpanel"}
      = render partial: 'heat_source_lists/form', locals: { testing_ground: @testing_ground, heat_source_list: @heat_source_list }

  - if @testing_ground.heat_asset_list
    .tab-pane.remote.edit#heat-asset-list{role: "tabpanel"}
      = render partial: 'heat_asset_lists/form', locals: { testing_ground: @testing_ground, heat_asset_list: @heat_asset_list }

.last-btns
  %span.save-all.wait.hidden= image_tag 'wait.gif'

.clearfix

.hidden
  .testing_ground_id= @testing_ground.id

