%h3
  = @testing_ground.name
  %span.subtitle Convert to national scenario

.perform-export
  = link_to('◄ Cancel', testing_ground_path(@testing_ground), class: 'btn btn-default')
  = button_to('Create national scenario ►', export_testing_ground_path(@testing_ground), method: :post, class: 'btn btn-primary')

A national-scale scenario will be created based on your testing ground. These
slider settings will be used:

%ul.exported-technologies
  - @export.inputs.each do |input_key, input_value|
    %li
      %span.input-name== #{ I18n.t("inputs.#{ input_key }") }:
      %span.input-value== #{ input_value.round(2) }%
