%h3
  = @testing_ground.name
  %span.subtitle Convert to national scenario

- unless @export.valid?
  - @export.errors.each do |error, message|
    .alert.alert-danger{role: 'alert'}= message

A national-scale scenario will be created based on your local energy solution. These
slider settings will be used:

.technologies
  - @export.grouped_inputs.each do |group, technologies|
    %h4= I18n.t("groups.#{ group }")
    %ul.exported-technologies
      - technologies.each do |technology|
        %li.exportable
          %span.tech-name= I18n.t("inputs.#{ technology.key }")
          %span.arrow &rarr;
          %span.input-name{ title: technology.export_to }== #{ I18n.t("inputs.#{ technology.export_to }") }:
          %span.input-value= formatted_export_input_value(technology)

.perform-export
  = link_to('Cancel', testing_ground_path(@testing_ground), class: 'btn btn-default')
  = button_to('Create national scenario', export_testing_ground_path(@testing_ground), method: :post, class: 'btn btn-primary', disabled: @export.errors.any?)
