%h3 Create topology with technologies from ETEngine

- if @import.errors.any?
  %ul.errors
    - @import.errors.full_messages.uniq.each do |message|
      %li= message

- if params[:scenario_id]
  Your ETModel scenario is #{params[:scenario_id]} created by #{current_user.email}

= form_for(@import, url: import_testing_grounds_path, method: :post) do |form|
  .form-group
    = form.label :topology_id
    = import_topology_select_tag(form)

  .form-group
    = form.label :scenario_id
    .input-group
      .input-group-addon= TestingGround::IMPORT_PROVIDERS.first
      = form.text_field(:scenario_id, placeholder: 'Scenario ID', class: 'form-control', value: @import.scenario_id)

  %div= form.submit 'Continue&hellip;'.html_safe, class: 'btn btn-primary'
