%h1
  - if can_export?(@testing_ground)
    = link_to 'Create national scenario ►', export_testing_ground_path(@testing_ground), class: 'btn btn-primary pull-right'

  = link_to "Edit", edit_testing_ground_path(@testing_ground), style: "margin-right: 10px", class: "btn btn-default pull-right"

  = "Testing Ground ##{ @testing_ground.id }:"
  = @testing_ground.name

%em.note
  Created by Chael Kruip on
  = @testing_ground.created_at.to_formatted_s(:long)
  last updated on
  = @testing_ground.updated_at.to_formatted_s(:long)

  - if @testing_ground.parent_scenario_id
    %span.sep
      = link_to_etm_scenario('National scenario', @testing_ground.parent_scenario_id)

  - if @testing_ground.scenario_id
    %span.sep
      = link_to_etm_scenario('Local scenario', @testing_ground.scenario_id)

#testing-ground
  .testing-ground-view{ "data-url" => testing_ground_url(@testing_ground, format: :json) }
    %span.loading
      %h5
        %span.main Calculating your testing ground&hellip;
      %span.more
        Large testing grounds may take up to 30 seconds to display. Please be
        patient, and don't hit refresh!

.node-info
  %h5
  .load-graph.line-chart
  = link_to "Download curve", "#", class: "btn btn-primary download-curve"

%h2 Technologies

#technologies
  - if @testing_ground.technology_profile.any?
    - @testing_ground.technology_profile.each do |key, techs|
      .row-fluid{ "data-node" => key }
        %table.table
          %thead
            %tr
              - techs.first.attributes.except(:type).compact.keys.each do |akey|
                %th= akey.to_s.titleize
          %tbody
            - techs.each do |tech|
              %tr{ "data-tech" => tech.name }
                - tech.attributes.except(:type).compact.values.each do |avalue|
                  %td= avalue

  - else
    No Technologies registered yet.

  = link_to 'Download Tech. CSV', technologies_testing_ground_url(@testing_ground, format: :csv), class: 'btn btn-primary'
