.alert.alert-warning.hidden{role: 'alert'}
  %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
  %span.sr-only Warning:
  %span.error

.header
  %h1
    %span.name= @testing_ground.name
    %span.arrow.hidden &rarr;
    %span.current-chart.hidden

  .pull-right.les-controls
    .btn-group
      %button{type: "button", class: "btn btn-default dropdown-toggle", data: { toggle: "dropdown" } }
        Options
        %span.caret
      %ul.dropdown-menu
        %li.disabled= link_to "Download curve", "#", class: "download-curve"
        %li.disabled= link_to 'Download technologies CSV', technology_profile_testing_ground_url(@testing_ground, format: :csv), class: "technologies-button"
        %li.disabled= link_to 'Download merit order price curve', price_curve_testing_ground_merit_index_path(@testing_ground, format: :csv), class: "merit-button"
        %li.disabled= link_to 'Download merit order load curves', load_curves_testing_ground_merit_index_path(@testing_ground, format: :csv), class: "merit-button"

        - if can_export?(@testing_ground)
          %li.divider{role: "separator"}
          %li= link_to 'Create national scenario', export_testing_ground_path(@testing_ground)

    .load-strategies.btn-group(role="group")
      %select.strategies.multi-select.form-control{multiple: "multiple"}
        = options_for_strategies

      .slider-wrapper.hidden
        %input#solar_pv_capping{type: 'text', data: {'slider-min' => 0, 'slider-max' => 100, 'slider-step' => 1, 'slider-value' => 100}}
        .clearfix
        %p.note Specify which percentage of solar production can be capped

      %button.btn.btn-primary.apply_strategies Apply

    - if policy(@testing_ground).edit?
      .main-buttons
        = link_to edit_testing_ground_path(@testing_ground), class: "btn btn-default" do
          .glyphicon.glyphicon-pencil
          Edit LES

  .clearfix

#testing-ground
  .save_strategies.hidden
    - if @testing_ground.selected_strategy
      = @testing_ground.selected_strategy.to_json
    - else
      = default_strategies.to_json

  .testing-ground-view{ data: { id: @testing_ground.id, url: data_testing_ground_url(@testing_ground, format: :json), strategies_url: update_strategies_testing_ground_url(@testing_ground, format: :json) } }
    %span.loading
      %h5
        %span.main Calculating your local energy solution&hellip;
      .status
      %span.more
        Large local energy solutions may take up to 30 seconds to display. Please be
        patient, and don't hit refresh!

  .load-graph-wrapper
    %ul.nav.nav-tabs{role: 'tablist'}
      %li{role: 'presentation', class: 'active'}
        = link_to "Load", "#load", "aria-controls" => "load", role: "tab", data: {toggle: "tab"}
      %li{role: 'presentation'}
        = link_to "Technologies", "#technologies", "aria-controls" => "technologies", role: "tab", data: {toggle: "tab"}

    .tab-content
      .tab-pane.active#load{role: 'tabpanel'}
        .load-graph.line-chart
          %p.info Click on a network component to view its load and attached technologies

        %i.last-updated
          %span Last updated
          %span= time_ago_in_words(@testing_ground.updated_at)
          %span ago

      .tab-pane#technologies{role: 'tabpanel'}
        #technologies
          %p.info When clicking an end-node technologies will appear
          - if @testing_ground.technology_profile.any?
            - @testing_ground.technology_profile.each do |key, techs|
              .row-fluid{ "data-node" => key }
                %table.table
                  %thead
                    %tr
                      %th Name (Profile)
                      %th Capacity [kW]
                      %th Storage volume [kWh]
                      %th Yearly demand [kWh]
                      %th Units
                  %tbody
                    - techs.each do |tech|
                      %tr{ class: ("danger" unless tech.valid?), "data-tech" => tech.name}
                        %td
                          .name= tech.name
                          %i.profile= tech.profile_key
                        %td= tech.carrier_capacity
                        %td= tech.volume
                        %td= tech.demand
                        %td= tech.units

          - else
            %p No Technologies registered yet.

    %span.loading-spinner
      = image_tag 'wait.gif'

  #collapse-stakeholders
    = select_tag("stakeholders", options_for_stakeholders, {include_blank: 'Select stakeholder', class: "form-control", disabled: 'disabled'})

.clearfix

.dashboard#business_case_target_area
  %h2
    Business case
    %span.loading
      = image_tag 'wait.gif'

  - if @testing_ground.business_case && @testing_ground.business_case.financials
    #business_case_table{data: { url: data_testing_ground_business_case_path(@testing_ground, @testing_ground.business_case), finish_url: render_summary_testing_ground_business_case_path(@testing_ground, @testing_ground.business_case) } }
    Loading ...
  - else
    %p No business case available yet

  .clearfix

.bottom
  %em.note
    - if @testing_ground.private?
      %span.glyphicon.glyphicon-lock

    Created by #{@testing_ground.user.name} on
    %span.date{title: "last updated on #{@testing_ground.updated_at.to_formatted_s(:long)}"}
      = @testing_ground.created_at.to_formatted_s(:long)

    - if @testing_ground.parent_scenario_id
      %span.sep
        = link_to_etm_scenario('National scenario', @testing_ground.parent_scenario_id)

    - if @testing_ground.scenario_id
      %span.sep
        = link_to_etm_scenario('Local scenario', @testing_ground.scenario_id)

    - if @testing_ground.market_model
      %span.sep
        = link_to @testing_ground.market_model.name, market_model_path(@testing_ground.market_model)

.hidden
  .testing_ground_id= @testing_ground.id
