%h1
  = "Testing Ground ##{ @testing_ground.id }:"
  = @testing_ground.name

%table.table.table-bordered
  %tr
    %td Created by
    %td Chael Kruip
  %tr
    %td Created at
    %td= @testing_ground.created_at.to_formatted_s(:long)
  %tr
    %td National scenario:
    %td
      %a{href:'#'}123456 from beta.pro.et-model.com
  %tr
    %td Local scenario:
    %td
      %a{href:'#'}123456 from beta.pro.et-model.com
  %tr
    %td Description:
    %td ...

#testing-ground
  %h2 Topology
  .testing-ground-view{ "data-url" => testing_ground_url(@testing_ground, format: :json, point: params[:point] || 0) }
    %span.loading
      %h5
        %span.main Calculating your testing ground&hellip;
      %span.more
        Large testing grounds may take up to 30 seconds to display. Please be
        patient, and don't hit refresh!

-#  %form.point-changer
-#    Point:
-#    %input{ name: 'point', type: 'text', value: params[:point] || 0 }
-#    %input{ type: 'submit', value: 'View' }

.node-info
  %h5
  .load-graph.line-chart
  %a.btn.btn-primary.download-curve Download curve

%h2 Technologies

#technologies
  - if @testing_ground.technologies.any?
    - @testing_ground.technologies.each do |key, techs|
      .row{ "data-node" => key }
        - techs.each do |tech|
          .technology.three.columns{ "data-tech" => tech.name }
            .inner
              %h6= tech.name
              %ul
                - tech.attributes.except(:name, :type).compact.each do |akey, avalue|
                  %li{ class: akey }== #{ akey }: #{ avalue.inspect }
  - else
    No Technoglogies registered yet.
