.alert.alert-warning.hidden{role: 'alert'}
  %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
  %span.sr-only Warning:
  %span.error

.header
  %h1
    %span.name= @testing_ground.name
    %span.arrow.hidden &rarr;
    %span.current-chart.hidden

  .clearfix

= render 'side_menu', testing_ground: @testing_ground, strategies: true

#testing-ground
  = render 'strategies', testing_ground: @testing_ground

  .testing-ground-view{ data: testing_ground_view_options(@testing_ground) }
    %span.loading
      %h5
        %span.main Calculating your local energy solution&hellip;
      .status
      %span.more
        Large local energy solutions may take up to 30 seconds to display. Please be
        patient, and don't hit refresh!

  .load-graph-wrapper
    %ul.nav.nav-tabs{role: 'tablist'}
      %li{role: 'presentation', class: 'active'}
        = link_to "Load", "#load", "aria-controls" => "load", role: "tab", data: {toggle: "tab"}
      %li{role: 'presentation'}
        = link_to "Technologies", "#technologies", "aria-controls" => "technologies", role: "tab", data: {toggle: "tab"}

    .tab-content
      .tab-pane.active#load{role: 'tabpanel'}
        .load-graph.line-chart
          .controls
            %select.load-date.form-control.hidden
              = load_date_options

            %select.chart-view.form-control{ name: 'view_as' }
              = view_as_options

            %select.chart-view.form-control{ name: 'view_carrier' }
              = view_carrier_options

            %input.chart-view{type: 'checkbox', name: 'strategies', data: { toggle: 'toggle', on: 'Strategies', off: 'Basic' } }
            .clearfix

          %p.info Click on a network component to view its load and attached technologies

        %i.last-updated
          %span Last updated
          %span= time_ago_in_words(@testing_ground.updated_at)
          %span ago

      .tab-pane#technologies{role: 'tabpanel'}
        #technologies
          %p.info When clicking an end-node technologies will appear
          - if @testing_ground.technology_profile.any?
            - @testing_ground.technology_profile.each do |key, techs|
              .row-fluid{ "data-node" => key }
                %table.table
                  %thead
                    %tr
                      %th Name (Profile)
                      %th Output Capacity [kW]
                      %th Input Capacity [kW]
                      %th Storage volume [kWh]
                      %th Yearly demand [kWh]
                      %th Units
                  %tbody
                    - techs.each do |tech|
                      %tr{ class: ("danger" unless tech.valid?), "data-tech" => tech.name}
                        %td
                          .name= tech.name
                          %i.profile= tech.profile_key
                        %td= tech.capacity && tech.capacity.round(2)
                        %td= tech.carrier_capacity && tech.carrier_capacity.round(2)
                        %td= tech.volume
                        %td= tech.demand
                        %td= tech.units

          - else
            %p No Technologies registered yet.

    %span.loading-spinner
      = image_tag 'wait.gif'

  #collapse-stakeholders
    = select_tag("stakeholders", options_for_stakeholders, {include_blank: 'Select stakeholder', class: "form-control", disabled: 'disabled'})

.clearfix

.bottom
  %em.note
    - if @testing_ground.private?
      %span.glyphicon.glyphicon-lock

    Created by #{@testing_ground.user.name} on
    %span.date{title: "last updated on #{@testing_ground.updated_at.to_formatted_s(:long)}"}
      = @testing_ground.created_at.to_formatted_s(:long)

    - if @testing_ground.parent_scenario_id
      %span.sep
        = link_to_etm_scenario('National scenario', @testing_ground.parent_scenario_id)

    - if @testing_ground.scenario_id
      %span.sep
        = link_to_etm_scenario('Local scenario', @testing_ground.scenario_id)

    - if @testing_ground.market_model
      %span.sep
        = link_to @testing_ground.market_model.name, market_model_path(@testing_ground.market_model)

.hidden
  .testing_ground_id= @testing_ground.id

.hidden.technologies
  - technology_colors.each_pair do |tech_key, color|
    %span{ class: tech_key, data: { color: color } }
