%h5
  Testing ground:
  = @testing_ground.created_at.to_formatted_s(:long)

#testing-ground
  .testing-ground-view{ "data-url" => testing_ground_url(@testing_ground, format: :json, point: params[:point] || 0) }
    %span.loading
      %h5
        %span.main Calculating your testing ground&hellip;
      %span.more
        Large testing grounds may take up to 30 seconds to display. Please be
        patient, and don't hit refresh!
  %form.point-changer
    Point:
    %input{ name: 'point', type: 'text', value: params[:point] || 0 }
    %input{ type: 'submit', value: 'View' }

.node-info
  %a.button.download-curve Download curve
  %h5
  .load-graph

#technologies
  - @testing_ground.technologies.each do |key, techs|
    .row{ "data-node" => key }
      - techs.each do |tech|
        .technology.three.columns{ "data-tech" => tech.name }
          .inner
            %h6= tech.name
            %ul
              - tech.attributes.except(:name, :type).compact.each do |akey, avalue|
                %li{ class: akey }== #{ akey }: #{ avalue.inspect }

= link_to '◄ All testing grounds', testing_grounds_path, class: 'button button-primary'
= link_to 'Edit', edit_testing_ground_url(@testing_ground), class: 'button'
= link_to 'Download Tech. CSV', technologies_testing_ground_url(@testing_ground, format: :csv), class: 'button'
