%table.table.interactions
  %thead
    %th{data: {header: 'stakeholder_from' }} Stakeholder from
    %th{data: {header: 'stakeholder_to' }} Stakeholder to
    %th{data: {header: 'tariff' }} Tariff
    %th.col-sm-2{data: {header: 'price' }} Price
    %th
    %th
  %tbody
    - @market_model.interactions.each do |interaction|
      %tr
        %td.editable.select
          %select.form-control
            = stakeholder_options(selected: interaction["stakeholder_from"])

        %td.editable.select
          %select.form-control
            = stakeholder_options(selected: interaction["stakeholder_to"])

        %td.editable.select
          %select.form-control
            = tariff_options(selected: interaction["tariff"])

        %td.editable
          %input.form-control{ value: interaction["price"] }

        %td
          = link_to "#", class: "add-row text-success" do
            %span.glyphicon.glyphicon-plus
        %td
          = link_to "#", class: "remove-row text-danger" do
            %span.glyphicon.glyphicon-remove


