- form_action = defined?(action) ? action : market_model
= form_for market_model, url: form_action, html: { remote: remote, multipart: true } do |form|
  .form-group
    = form.label :name
    = form.text_field :name, class: "form-control"

  .form-group
    = form.label :public, "Permissions"

    .radio-buttons
      = form.radio_button :public, true
      = form.label :public, "Public", class: "radio-label"
      = form.radio_button :public, false
      = form.label :public, "Private", class: "radio-label"

  .hidden
    = form.text_area :interactions, value: JSON.dump(market_model.interactions).html_safe

  = render partial: 'market_models/new_table', locals: { market_model: market_model }

  = form.submit 'Save', class: "btn btn-primary"

  - if remote
    %span.wait.hidden= image_tag 'wait.gif'


