= render partial: "market_models/help"

= form_for market_model, url: testing_ground_market_model_path(@testing_ground, @testing_ground.market_model, format: :js), html: { remote: true, multipart: true } do |form|
  - if market_model.errors.any?
    %ul.errors
      - market_model.errors.full_messages.uniq.each do |message|
        %li= message

  .hidden.market-model-interactions
    = form.text_area :interactions, value: JSON.dump(market_model.interactions).html_safe

  = render partial: 'market_model_templates/table', locals: { market_model_template: market_model }

  .btn-group
    = form.submit 'Save', class: "btn btn-primary"
    = save_all_button(testing_ground_path(@testing_ground))
    %span.wait.hidden= image_tag 'wait.gif'
