.empty-button{ class: ('hidden' if market_model.interactions.any?) }
  %button.btn.btn-primary Add new Interaction

%table.table.single.interactions.market{data: { type: "market_model_table" } }
  %thead
    %th{data: {header: 'stakeholder_from' }}
      = I18n.t("market_model.table.headers.stakeholder_from")
    %th{data: {header: 'stakeholder_to' }}
      = I18n.t("market_model.table.headers.stakeholder_to")
    %th{data: {header: 'foundation' }}
      = I18n.t("market_model.table.headers.foundation")
    %th{data: {header: 'applied_stakeholder' }}
      = I18n.t("market_model.table.headers.applied_stakeholder")
    %th.tariff-type{data: {header: 'tariff_type' }}
      = I18n.t("market_model.table.headers.tariff_type")
    %th.col-sm-2{data: {header: 'tariff' }}
      = I18n.t("market_model.table.headers.tariff")
    %th
    %th

  %tfoot.hidden
    = render partial: 'market_models/table_row', locals: { interaction: MarketModel::DEFAULT_INTERACTIONS[0] }

  %tbody
    - market_model.interactions.each do |interaction|
      = render partial: 'market_models/table_row', locals: { interaction: interaction }
