%h1
  = @market_model.name
%table.interactions.table.table-bordered
  %tr
    %th.stakeholder_from Payer
    %th.arrow &#8594;
    %th.stakeholder_to Payee
    %th.applied_stakeholder Applied to stakeholder
    %th.foundation Measure
    %th Tariff (EUR/unit)
  - @market_model.interactions.each do |interaction|
    %tr
      - MarketModel::PRESENTABLES.each do |property|
        - if property == 'stakeholder_to'
          %td.arrow &#8594;

        %td{ class: property }
          - if respond_to?(:"format_interaction_#{ property }")
            = public_send(:"format_interaction_#{ property }", interaction)
          - else
            = interaction[property]

- if policy(@market_model).edit?
  = link_to "Edit", edit_market_model_path(@market_model)
  = link_to "Destroy", market_model_path(@market_model), method: :delete, data: { confirm: "Are you sure?" }
