%h1 List of all profiles available

%h2 Load Profiles

.load_profiles
  = render partial: "load_profile_categories/load_profile_categories", locals: { load_profile_categories: @load_profile_categories, collapsed: false }

%h2 Financial Profiles

.price_curves
  %ul
    - @price_curves.each do |price_curve|
      %li
        = link_to price_curve.key, price_curve_path(price_curve)
        %span= I18n.l(price_curve.created_at, format: :short)

%h2 Temperature Profiles

.temperature_profiles
  %ul
    - @temperature_profiles.each do |temperature_profile|
      %li
        = link_to temperature_profile.key, '#'#tem_path(price_curve)
        %span= I18n.l(temperature_profile.created_at, format: :short)


