%h1 List of all profiles available

%h2 Load Profiles

.load_profiles
  = render partial: "load_profile_categories/load_profile_categories", locals: { load_profile_categories: @load_profile_categories, collapsed: false }

%h2 Financial Profiles

.price_curves
  %ul
    - @price_curves.each do |price_curve|
      %li
        = link_to price_curve.key, profile_path(price_curve)
        %span= I18n.l(price_curve.created_at, format: :short)

%h2 Behaviour Profiles

.behavior_profiles
  %ul
    - @behavior_profiles.each do |behavior_profile|
      %li
        = link_to behavior_profile.key, profile_path(behavior_profile)
        %span= I18n.l(behavior_profile.created_at, format: :short)


