= render 'shared/flash', flash: flash
%h1 Welcome

%p Please sign in or sign up to continue.

= form_for :session, url: session_path do |form|
  .row
    .col-sm-3
      .form-group
        = form.label :email
        = form.email_field :email, class: "form-control"
  .row
    .col-sm-3
      .form-group
        = form.label :password
        = form.password_field :password, class: "form-control"
  %div
    = form.submit "Sign in", class: "btn btn-default"
    %span or
    = link_to "Sign up", "#", class: "btn btn-primary"
