- if testing_ground.errors.any?
  %ul.errors
    - testing_ground.errors.full_messages.uniq.each do |message|
      %li= message

= form_for(testing_ground) do |f|
  = f.fields_for :topology do |topo_form|
    = f.label :graph, 'Testing ground as YAML'
    = topo_form.text_area :graph, value: topology_field_value(testing_ground)

  - if testing_ground.new_record? && request.get?
    = f.label :technologies, 'Technologies as...'

    .tech-choice
      %label
        = radio_button :js, :technologies_as, :yaml, checked: true
        YAML

      %label
        = radio_button :js, :technologies_as, :csv, checked: false
        CSV Upload

    = f.file_field :technologies_csv, accept: 'text/csv'

  = f.text_area :technologies, value: technologies_field_value(testing_ground)

  .commit
    = f.submit class: 'button-primary'
    %span.or or
    - if testing_ground.new_record?
      = link_to 'Cancel', testing_grounds_path, class: 'button'
    - else
      = link_to 'Cancel', testing_ground_path(testing_ground), class: 'button'
