%h5
  Testing ground:
  = @testing_ground.created_at.to_formatted_s(:long)

#testing-ground
  .testing-ground-view{ "data-url" => testing_ground_url(@testing_ground, format: :json, point: params[:point] || 0) }
    %span.loading Loading testing ground&hellip;
  %form.point-changer
    Point:
    %input{ name: 'point', type: 'text', value: params[:point] || 0 }
    %input{ type: 'submit', value: 'View' }

#technologies
  - @testing_ground.technologies.each do |key, techs|
    .row
      %h5= key
      - techs.each do |tech|
        .technology.three.columns{ "data-node" => key, "data-tech" => tech.name }
          .inner
            %h6= tech.name
            %ul
              - tech.attributes.except(:name, :type).compact.each do |akey, avalue|
                %li{ class: akey }== #{ akey }: #{ avalue.inspect }

= link_to '◄ All testing grounds', testing_grounds_path, class: 'button button-primary'
= link_to 'Edit', edit_testing_ground_url(@testing_ground), class: 'button'
