%h2 Business case matrix
.help-block
  %p The matrix below summarizes three types of annual cash-flows
  %ol
    %li
      %strong Depreciation costs:
      the investment of technologies and infrastructure divided by their technical lifetime
    %li
      %strong Fixed operation and maintenance costs:
      defined for technoligies and infrastructure
    %li
      %strong Market model rules:
      transactions between stakeholders as defined in the Market model tab

  Item 1 and 2 are summed and displayed on the diagonal of the matrix. The transactions between different stakeholders are shown in the other cells. Rows add up to total (annual) revenu and columns add up to total (annual) expenses. A correction for unmodelled costs (for example removal costs of infrastructure) can be included with the 'free form' row.
  More information can be found in the <a href='https://github.com/quintel/etmoses/wiki/Business-cases'>documentation</a>.

.table-wrapper
  %table.table.table-bordered.finance-table
    %thead
      %tr
        %th.center= I18n.t("business_case.yearly_costs")
        - finance_table_rows(business_case).each do |row|
          - row.each_pair do |header, _values|
            %th= header.titleize
        %th Total incoming

    %tfoot
      %tr
        %td Total outgoing
        - finance_table_rows(business_case).each do |total_cell|
          %td.total
        %td.subtotal

    %tbody
      - finance_table_rows(business_case).each_with_index do |row, row_index|
        %tr.stakeholder{ data: { stakeholder: row.keys[0] } }
          - row.each_pair do |column_header, row_values|
            %td
              %strong= column_header.titleize
            - row_values.each_with_index do |row_value, index|
              %td.row_value{class: ("center" if row_index == index ) }
                - if row_value
                  %span{data: { value: row_value } }
                    = number_to_currency(row_value, unit: '€')

            %td.incoming_total

      %tr.freeform
        %td Freeform
        - finance_table_rows(business_case).each do |row|
          %td.row_value
            %input.free-form.form-control{value: freeform_value(business_case, row.keys[0])}

= form_for [testing_ground, business_case], html: { remote: true } do |f|
  .hidden
    = f.text_area :financials, value: JSON.dump(business_case.financials)

  .btn-group
    = f.submit "Save", class: "btn btn-primary"
    = save_all_button(testing_ground_path(testing_ground))
    %span.wait.hidden= image_tag "wait.gif"

