%div.compare
  - if business_case_rows && business_case_rows.size > 0
    %span= "Compare business case with"
    %span.compare
      = select_tag "compare", options_for_testing_grounds(@testing_ground), include_blank: true, class: "form-control", data: { compare_url: compare_with_testing_ground_business_case_path(@testing_ground, @business_case) }
    = link_to('Download CSV', testing_ground_business_case_path(@testing_ground, @business_case, format: 'csv'), class: 'btn btn-default pull-right')

#business_case_table{data: { url: data_testing_ground_business_case_path(@testing_ground, @business_case), finish_url: render_summary_testing_ground_business_case_path(@testing_ground, @business_case) } }
  - if business_case_rows && business_case_rows.size > 0
    %table.table.table-bordered.compare
      %thead
        %tr
          %th Stakeholder
          %th In
          %th Out
          %th Correction
          %th Total

      %tbody
        - business_case_rows.each do |financial_row|
          - if valid_financial_row?(financial_row)
            %tr
              %td= financial_row[:stakeholder].titleize
              %td.editable
                %span.static{ tabindex: '0', role: 'button', data: breakdown_data(financial_row[:incoming_breakdown]) }
                  = financial_row[:incoming]
                %span.difference
                  - if financial_row[:compare]
                    %span>(
                    %span.calc= financial_row[:compare][:incoming]
                    %span>)

              %td.editable
                %span.static{ tabindex: '0', role: 'button', data: breakdown_data(financial_row[:outgoing_breakdown]) }
                  = financial_row[:outgoing]
                %span.difference
                  - if financial_row[:compare]
                    %span>(
                    %span.calc= financial_row[:compare][:outgoing]
                    %span>)

              %td.editable
                %span.static= financial_row[:freeform]
                %span.difference
                  - if financial_row[:compare]
                    %span>(
                    %span.calc= financial_row[:compare][:freeform]
                    %span>)

              %td.editable
                %span.static= financial_row[:total]
                %span.difference
                  - if financial_row[:compare]
                    %span>(
                    %span.calc= financial_row[:compare][:total]
                    %span>)

  - elsif business_case_rows.empty?
    .alert.alert-danger
      Something went wrong with the business case calculation.

    %br

  - else
    Loading ..

  %i.last-updated
    %span Last updated
    %span= time_ago_in_words(@business_case.updated_at)
    %span ago
