.header
  %h1
    %span.name= @testing_ground.name
    %span.loading
      = image_tag 'wait.gif'

  .clearfix

= render 'testing_grounds/side_menu', testing_ground: @testing_ground, strategies: false

.dashboard#business_case_target_area
  - if @testing_ground.business_case
    #business_case_table{data: { url: data_testing_ground_business_case_path(@testing_ground, @testing_ground.business_case), finish_url: render_summary_testing_ground_business_case_path(@testing_ground, @testing_ground.business_case), clear: clear_business_case?(@testing_ground) } }
      .placeholder
        Loading...
    .no-business-case-message.hidden
      .well
        %p A business case will only be calculated when selecting the full year from the date select.

  - else
    %p No business case available yet

  .clearfix

.save_strategies.hidden
  - if @testing_ground.selected_strategy
    = @testing_ground.selected_strategy.to_json
  - else
    = default_strategies.to_json
