%ul
  %li== Key: #{ @price_curve.key }
  %li== Curve file name: #{ @price_curve.curve_file_name }

.profile-graph.line-chart{ 'data-url' => price_curve_path(@price_curve, format: :json) }

.commit
  = link_to('Download', @price_curve.curve.url, class: 'button')
  %span.or or
  = link_to_if(policy(@price_curve).edit?, 'Edit', edit_price_curve_path(@price_curve), class: 'button')
  = link_to_if(policy(@price_curve).destroy?, 'Delete', price_curve_path(@price_curve), class: 'button', method: 'delete', data: { confirm: 'Are you sure you want to delete this profile?' })

= link_to '◄ All load profiles', price_curve_index_path, class: 'button button-primary'
