- if topology.errors.any?
  %ul.errors
    - topology.errors.full_messages.uniq.each do |message|
      %li= message

= form_for(topology) do |f|
  = f.label :graph, 'Topology as YAML'

  - if topology.new_record?
    = f.text_area :graph, value: Topology::DEFAULT_GRAPH
  - else
    = f.text_area :graph, value: YAML.dump(topology.graph)

  = f.label :graph, 'Technologies as YAML'

  - if topology.new_record?
    = f.text_area :technologies, value: Topology::DEFAULT_TECHNOLOGIES
  - else
    = f.text_area :technologies, value: YAML.dump(topology.technologies)

  .commit
    = f.submit class: 'button-primary'
    %span.or or
    - if topology.new_record?
      = link_to 'Cancel', topologies_path, class: 'button'
    - else
      = link_to 'Cancel', topology_path(topology), class: 'button'
