%h5
  Topology:
  = @topology.created_at.to_formatted_s(:long)

#topology
  .topology-view{ "data-url" => topology_url(@topology, format: :json) }
    %span.loading Loading topology&hellip;

#technologies
  - @topology.technologies.each do |key, techs|
    .row
      %h5= key
      - techs.each do |tech|
        .technology.three.columns{ "data-node" => key }
          .inner
            %h6= tech['name']
            %ul
              - tech.except('name').each do |akey, avalue|
                %li== #{ akey }: #{ avalue.inspect }

= link_to '◄ All topologies', topologies_path, class: 'button button-primary'
= link_to 'Edit', edit_topology_url(@topology), class: 'button'
