%tr
  %td
    = image_tag 'hamburger-menu.png'

  %td.editable.select
    %select.form-control.from
      = stakeholder_options(selected: interaction["stakeholder_from"])

  %td.editable.select
    %select.form-control.to
      = stakeholder_options(selected: interaction["stakeholder_to"])

  %td.editable.select
    %select.form-control.foundation
      = foundation_options(selected: interaction["foundation"])

  %td.editable.select
    %select.form-control.applied
      - if @testing_ground
        = options_for_stakeholders(selected: interaction["applied_stakeholder"])
      - else
        = options_for_all_stakeholders(selected: interaction["applied_stakeholder"])

  %td.editable.tariff-type
    %input{ name: "tariff_type", type: "hidden", value: interaction["tariff_type"].presence || 'fixed' }

  %td.editable.input-switch{data: {price: interaction["tariff"]}}
    .input-group
      .input-group-btn
        %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %span.glyphicon.glyphicon-euro
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#", 'data-type' => 'fixed'}
              %span.glyphicon.glyphicon-euro
              = t('tariff.type.fixed')
          %li
            %a{:href => "#", 'data-type' => 'curve'}
              %span.glyphicon.glyphicon-signal
              = t('tariff.type.curve')
          %li
            %a{:href => "#", 'data-type' => 'merit'}
              %span.glyphicon.glyphicon-sort-by-attributes
              = t('tariff.type.merit')

      .fixed-tariff
        %input.form-control
      .curve-tariff
        %select.form-control
          = financial_profile_options
      .merit-tariff.btn.btn-default.disabled
        Merit price

  %td
    = link_to "#", class: "add-row text-success" do
      %span.glyphicon.glyphicon-plus
  %td
    = link_to "#", class: "remove-row text-danger" do
      %span.glyphicon.glyphicon-remove

