%h1 Edit the user

= bootstrap_form_for @users_form, method: "PUT", url: user_registration_path do |form|
  .row
    .col-sm-3
      .form-group
        = form.text_field :name, class: "form-control"

  .row
    .col-sm-3
      .form-group
        = form.text_field :email, class: "form-control"

  .row
    .col-sm-3
      .form-group
        = form.password_field :password, class: "form-control"

  .row
    .col-sm-3
      .form-group
        = form.password_field :password_confirmation, class: "form-control"

  %div
    = form.submit "Edit user", class: "btn btn-primary"

