.table-holder.multi-table{ data: { type: 'heat_asset_list_table' } }
  .primary-table
    = render partial: "heat_asset_lists/primary_table", locals: { testing_ground: testing_ground, heat_asset_list: heat_asset_list.select(&:primary?) }
  .secondary-table
    = render partial: "heat_asset_lists/secondary_table", locals: { testing_ground: testing_ground, heat_asset_list: heat_asset_list.select(&:secondary?) }

= form_for [testing_ground, testing_ground.heat_asset_list], html: { remote: true } do |f|
  .hidden
    = f.text_area :asset_list, value: JSON.dump(testing_ground.heat_asset_list.asset_list)

  .btn-group
    = f.submit "Save", class: "btn btn-primary"
    = save_all_button(heat_load_testing_ground_path(testing_ground), "Save all and view heat-load")

  .btn-group.pull-right
    %span.wait.hidden= image_tag "wait.gif"

