%h2 Primary network
%table.table.interactions.heat_asset_list.multi_table{ data: { type: 'heat_asset_list_table'  } }
  %thead
    %tr
      %th.col-sm-3{ data: { header: 'type' } } Type of pipe
      %th{ data: { header: 'distance' } } Distance [km]
      %th{ data: { header: 'heat_source' } } Associated with source
      %th{ data: { header: 'total_initial_investment' } } Investment [kEUR/km]
      %th{ data: { header: 'om_costs_per_year' } } O&M costs [kEUR/km]
      %th{ data: { header: 'technical_lifetime' } } Technical lifetime [Y]
      %th{ data: { header: 'stakeholder' } } Stakeholder
      %th.hidden{ data: { header: 'scope' } }
      %th
      %th

  %tbody
    - heat_asset_list.select(&:primary?).each do |list_item|
      %tr
        %td.editable
          %select.form-control.key
            = options_for_primary_heat_assets(list_item.type)

        %td.editable
          %input.form-control{name: 'distance', value: list_item.distance}

        %td.editable
          %select.form-control.type
            = options_for_heat_source_plant_types(list_item.type)

        %td.editable
          %input.form-control{name: 'total_initial_investment', value: list_item.total_initial_investment}

        %td.editable
          %input.form-control{name: 'om_costs_per_year', value: list_item.om_costs_per_year}

        %td.editable
          %input.form-control{name: 'technical_lifetime', value: list_item.technical_lifetime}

        %td.editable
          %select.form-control.stakeholder
            = options_for_stakeholders(list_item.stakeholder)

        %td.editable.hidden
          %input.form-control{name: 'scope', value: 'primary'}

        %td
          = link_to '#', class: 'add-row text-success' do
            %span.glyphicon.glyphicon-plus

        %td
          = link_to '#', class: 'remove-row text-danger' do
            %span.glyphicon.glyphicon-remove

