- if flash[:notice]
  .alert.alert-info= flash[:notice]

%h1 Explore your own local energy solutions!

%p
  As the urgency of energy transition is becoming widely recognized, the energy debate is shifting from the global/national scope to a local one.

  Instead of "Why do we need to change?" we are asking ourselves questions like "How will this transition impact my local situation?" and
  "What are the best solutions for my house, street, neighbourhood?".

%p
  ETMoses has been developed to provide insight in such local energy solutions (LES) and explore the impact of changing technologies,
  innovative strategies and new market models. It is integrated with the

  %a{href:'https://energytransitionmodel.com'} Energy Transition Model

  and derives its data from the

  %a{href:'https://github.com/quintel/etdataset-public'} Energy Transition Model dataset

  and real-life local energy solutions from our partners.

%p
  ETMoses is free, open source and open data.
  In case you have questions or would like to attend a workshop, you can contact us through the
  %a{href:'http://quintel.com/contact'} Quintel website.
.jumbotron(style="margin-top: 30px")
  %h2 Getting started&hellip;

  %p
    You may start by
    %a{href: testing_grounds_path} opening an existing local energy solution
    or create your own by scaling down a scenario from the Energy Transition
    Model by going through the following steps:

    .etm-explanation
      .scene
        %p 1. Start a new or existing scenario
        = image_tag 'etm-1.png'
      .scene
        %p 2. Scale the scenario
        = image_tag 'etm-2.png'
      .scene
        %p 3. Open in ETMoses
        = image_tag 'etm-3.png'

      .clearfix

  %p
    %a.btn.btn-lg.btn-success{href: "http://#{Settings.etmodel_host}", target: "_blank"} Go to the Energy Transition Model
