%h2 Gas infrastructure
.help-block
  %p
  In the table below you can edit the specifics of the gas infrastructure of your LES. Three types of network components can be chosen:
  %ul
    %li <b>Pipes</b>: depending on the pressure level differnt types of pipes can be chosen
    %li <b>Connectors</b>: connect pressure levels and allow gas to move from high to low pressure
    %li <b>Compressors</b>: connect pressure levels and allow gas to move from low to high pressure with loss
  More information about the gas network and its components can be found in the 
  = succeed '.' do
    %a(href='https://github.com/quintel/etmoses/wiki/Gas-network') documentation

%table.table.interactions.gas_assets{ data: { type: "gas_asset_list_table", url: get_types_testing_ground_gas_asset_lists_path(testing_ground) } }
  %thead
    %tr
      %th.col-sm-1{ data: { header: 'pressure_level_index' } } Pressure level
      %th{ data: { header: 'part' } } Asset
      %th{ data: { header: 'type' } } Type
      %th.col-sm-2{ data: { header: 'units' } } Quantity
      %th{ data: { header: 'stakeholder' } } Stakeholder
      %th.col-sm-1{ data: { header: 'building_year' } } Building year
      %th
      %th

  %tbody
    - gas_asset_list.each do |list_item|
      %tr
        %td.editable
          %select.form-control.pressure_level
            = options_for_pressure_levels(list_item.pressure_level_index)

        %td.editable
          %select.form-control.part
            = options_for_gas_parts(list_item.part)

        %td.editable
          %select.form-control.type{data: { type: list_item.type } }

        %td.editable
          %input.form-control{name: 'units', value: list_item.units }
          %span.unit
            %span.pipes
              m
            %span.connectors
              = '#'
            %span.compressors
              = '#'

        %td.editable
          %select.form-control.stakeholder
            = options_for_all_stakeholders(list_item.stakeholder)

        %td.editable
          %input.form-control{name: 'building_year', value: list_item.building_year}

        %td
          = link_to "#", class: "add-row text-success" do
            %span.glyphicon.glyphicon-plus

        %td
          = link_to "#", class: "remove-row text-danger" do
            %span.glyphicon.glyphicon-remove
