- if @load_profile.errors.any?
  %ul.errors
    - @load_profile.errors.full_messages.uniq.each do |message|
      %li= message

= form_for @load_profile, html: { multipart: true } do |form|
  - if @load_profile.new_record?
    .form-group
      = form.label :key
      = form.text_field :key, class: 'form-control'
      .help-block This field is optional.

  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'
    .help-block This field is optional.

  .form-group
    = form.label :load_profile_category_id
    = form.select :load_profile_category_id, load_profile_categories_select_options, {}, class: 'form-control'
    .help-block This field is optional.

  - unless @load_profile.locked?
    .form-group
      = form.label :curve
      = form.file_field :curve, accept: 'text/csv'

      - unless @load_profile.new_record?
        .help-block Leave blank if you don't want to change the curve.

  .technology-profiles-controls
    %h5(style="font-weight: bold") Permitted Technologies

    = form.fields_for :technology_profiles do |task|
      .form-group
        .input-group.technology-profile-control
          = task.text_field :technology, class: 'form-control'
          .input-group-addon
            = task.label :_destroy, 'Remove'
            = task.check_box :_destroy

    - tech_length = @load_profile.technology_profiles.length
    - 3.times do |i|
      .form-group
        = text_field_tag "load_profile[technology_profiles_attributes][#{ tech_length + i }][technology]", '', placeholder: "Technology Key ##{ tech_length + i + 1 } (optional)", class: 'form-control'

    .alert.alert-info.max-permitted-notice
      Need to add more permitted technologies? Save the load profile and then
      choose to edit it again to add more.

  .form-group
    = form.submit class: 'btn btn-primary'
    %span.or or
    - if @load_profile.new_record?
      = link_to 'Cancel', load_profiles_path, class: 'btn btn-default'
    - else
      = link_to 'Cancel', load_profile_path(@load_profile), class: 'btn btn-default'
