%h1= @profile.key.titleize
.tech
  %span Associated technologies:
  .profiles
    - @profile.technologies.each do |technology|
      %span.label.label-primary= technology.name

- @profile.load_profile_components.each do |load_profile_component|
  %h2= load_profile_component.curve_type.titleize
  .profile-graph.line-chart{ class: "id-#{load_profile_component.id}", data: { url: load_profile_load_profile_component_path(@profile, load_profile_component, format: :json) } }

  .commit.pull-right
    = link_to('Download', load_profile_component.curve.url, class: 'btn btn-default')
  .clearfix
  %br

= link_to_if(policy(@profile).edit?, 'Edit', edit_load_profile_path(@profile), class: 'button')
%span.or or
= link_to_if(policy(@profile).destroy?, 'Delete', load_profile_path(@profile), class: 'button', method: 'delete', data: { confirm: 'Are you sure you want to delete this profile?' })
%br
= link_to '◄ All load profiles', load_profiles_path, class: 'button button-primary'
