%ul
  %li== Key: #{ @profile.key }
  %li== Curve file name: #{ @profile.profile_curves.map(&:curve_file_name).join(", ") }
  %li== Permitted Technologies: #{ @profile.technology_profiles.map(&:technology).join(", ") }

- @profile.profile_curves.each do |load_curve|
  .profile-graph.line-chart{ class: "id-#{load_curve.id}", data: { url: load_profile_profile_curve_path(@profile, load_curve, format: :json) } }

  .commit
    = link_to('Download', load_curve.curve.url, class: 'button')
    %span.or or
    = link_to_if(policy(@profile).edit?, 'Edit', edit_load_profile_path(@profile), class: 'button')
    = link_to_if(policy(@profile).destroy?, 'Delete', load_profile_path(@profile), class: 'button', method: 'delete', data: { confirm: 'Are you sure you want to delete this profile?' })

  = link_to '◄ All load profiles', load_profiles_path, class: 'button button-primary'
