= render partial: "topologies/help", locals: { topology: topology }

= form_for topology, url: testing_ground_topology_path(@testing_ground, topology, format: :js), html: { remote: true, multipart: true } do |form|
  = render partial: "topologies/graph_editor", locals: { form: form, topology: topology }

  .form-group
    .btn-group
      = form.submit 'Save', class: 'btn btn-primary'
      = save_all_button(testing_ground_path(@testing_ground))

      %span.wait.hidden= image_tag 'wait.gif'
