.errors
.form-group.graph-width
  = form.label :graph
  = tooltip_tag(t(:'topology_templates.form.graph.tooltip'))

  .graph-topology{ data: { graph: topology_field_value(topology) } }
    .graph-editor

    .node-interface
      .wrapper
        .btn-group
          %button.add-node.btn.btn-xs.btn-success
            %span.glyphicon.glyphicon-plus
          %button.remove-node.btn.btn-xs.btn-danger
            %span.glyphicon.glyphicon-trash
      .dialogue-arrow ▼

    .node-information
      .form-group
        = label_tag :name
        = text_field_tag :name, nil, class: 'form-control'

      .form-group
        = label_tag :stakeholder
        = select_tag :stakeholder, options_for_all_stakeholders, class: 'form-control'

      .form-group
        = label_tag :investment_cost
        = text_field_tag :investment_cost, nil, class: 'form-control', data: { data_type: 'float' }

      .form-group
        = label_tag :technical_lifetime
        = text_field_tag :technical_lifetime, nil, class: 'form-control', data: { data_type: 'integer' }

      .form-group
        = label_tag :capacity
        = text_field_tag :capacity, nil, class: 'form-control', data: { data_type: 'float' }

      .form-group
        = label_tag :units
        = text_field_tag :units, nil, class: 'form-control', data: { data_type: 'integer' }

    .hidden
      = form.text_area :graph, class: "topology-graph"

    .clearfix
