%strong= @topology.name

.topology-graph
  .data.hidden
    = @topology.graph.to_json

- if policy(@topology).edit?
  .commit.topology-footer.btn-group
    = link_to 'Edit', edit_topology_path(@topology), class: 'btn btn-primary'
    = link_to 'Download as PNG', '#', data: {png: download_as_png_topology_path(@topology, format: :png) }, class: 'btn btn-download-as-png btn-primary'
    = link_to 'Delete', topology_path(@topology), class: 'btn btn-danger', method: 'delete', data: { confirm: 'Are you sure you want to delete this topology?' }

