%strong= @topology.name

.topology-graph
  .data.hidden
    = @topology.graph.to_json

.commit.topology-footer.btn-group
  = link_to_if(policy(@topology).edit?, 'Edit', edit_topology_path(@topology), class: 'btn btn-primary')
  = link_to_if(policy(@topology).edit?, 'Download as PNG', '#', data: {png: download_as_png_topology_path(@topology) }, class: 'btn btn-download-as-png btn-primary')
  = link_to_if(policy(@topology).destroy?, 'Delete', topology_path(@topology), class: 'btn btn-danger', method: 'delete', data: { confirm: 'Are you sure you want to delete this topology?' })

