%h2 Dispatchable sources

.help-block
  %p
    These sources produce heat following consumption of the heat network. You
    can choose installed capacities and other aspects of dispatchable sources
    in the list below. More information can be found in the
    = succeed '.' do
      %a(href="https://github.com/quintel/etmoses/wiki/Heat-network") documentation

%table.table.interactions.heat_source_list.dispatchable
  %thead
    %tr
      %td
      %th.col-sm-2{ data: { header: 'key' } } Plant type
      %th{ data: { header: 'heat_capacity' } } Heat capacity [kW]
      %th{ data: { header: 'units' } } Units
      %th{ data: { header: 'stakeholder' } } Stakeholder
      %th{ data: { header: 'total_initial_investment' } } Investment [EUR/kW]
      %th{ data: { header: 'technical_lifetime' } } Technical lifetime [Y]
      %th{ data: { header: 'om_costs_per_year' } } O&amp;M costs [EUR/kW]
      %th{ data: { header: 'marginal_heat_costs' } } Marginal costs [EUR/kWh]
      %th{ data: { header: 'distance' } } Distance [km]
      %th.hidden{ data: { header: 'priority' } } Priority
      %th
      %th

  %tbody.sortable
    - heat_source_list.select(&:dispatchable).each do |list_item|
      %tr
        %td
          %span.glyphicon.glyphicon-move

        %td.editable
          %select.form-control.key
            = options_for_dispatchable_heat_source_plant_types(list_item.key)

        %td.editable
          %input.form-control{name: 'heat_capacity', value: list_item.heat_capacity}

        %td.editable
          %input.form-control{name: 'units', value: list_item.units}

        %td.editable
          %select.form-control.stakeholder
            = options_for_all_stakeholders(list_item.stakeholder)

        %td.editable
          %input.form-control{name: 'total_initial_investment', value: list_item.total_initial_investment}

        %td.editable
          %input.form-control{name: 'technical_lifetime', value: list_item.technical_lifetime}

        %td.editable
          %input.form-control{name: 'om_costs_per_year', value: list_item.om_costs_per_year}

        %td.editable
          %input.form-control{name: 'marginal_heat_costs', value: list_item.marginal_heat_costs}

        %td.editable
          %input.form-control{name: 'distance', value: list_item.distance}

        %td.editable.hidden
          %input.form-control{name: 'priority', value: list_item.priority}

        %td
          = link_to '#', class: 'add-row text-success' do
            %span.glyphicon.glyphicon-plus

        %td
          = link_to '#', class: 'remove-row text-danger' do
            %span.glyphicon.glyphicon-remove
