%tr
  %td.editable
    = select_tag :key, options_for_must_run_heat_source_plant_types(list_item.key), class: "form-control key"

  %td.editable
    %input.form-control{name: 'heat_production', value: list_item.heat_production, data: { round: 2, data_type: 'float' }}

  %td.editable.profile
    = select_tag :profile, options_for_load_profiles(list_item.technology, selected: list_item.profile), class: 'form-control profile', data: { data_type: 'integer' }

  %td.editable
    = select_tag :stakeholder, options_for_all_stakeholders(list_item.stakeholder), class: "form-control stakeholder"

  %td.editable.total_initial_investment
    %input.form-control{name: 'total_initial_investment', value: list_item.total_initial_investment, data: { round: 2, data_type: 'float' }}

  %td.editable.technical_lifetime
    %input.form-control{name: 'technical_lifetime', value: list_item.technical_lifetime, data: { round: 0, data_type: 'integer' }}

  %td.editable.om_costs_per_year
    %input.form-control{name: 'om_costs_per_year', value: list_item.om_costs_per_year, data: { round: 1, data_type: 'float' }}

  %td.editable.marginal_heat_costs
    %input.form-control{name: 'marginal_heat_costs', value: list_item.marginal_heat_costs, data: { round: 2, data_type: 'float' }}

  %td.editable.distance
    %input.form-control{name: 'distance', value: list_item.distance, data: { round: 1, data_type: 'float' }}

  %td
    = link_to '#', class: 'add-row text-success' do
      %span.glyphicon.glyphicon-plus

  %td
    = link_to '#', class: 'remove-row text-danger' do
      %span.glyphicon.glyphicon-remove
