%nav.navbar.navbar-default
  .container
    .navbar-header
      %a.navbar-brand{:href => "/"} Local Energy Solutions Calculator
      %ul.nav.navbar-nav
        %li
          = link_to 'Home', root_path
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Local Energy Solutions
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to 'How to', page_path('how_to')
            %li.divider
            %li
              = link_to 'Import from ETM', import_testing_grounds_path
            %li.divider
            %li
              = link_to 'Show all', testing_grounds_path
            %li.divider
            %li{style: 'margin-left: 21px'}
              %em
                = "Last saved #{ @recent_testing_grounds.size }"
            - @recent_testing_grounds.each_with_index do |testing_ground, index|
              %li
                = link_to testing_ground_path(testing_ground) do
                  = "#{index + 1})"
                  = truncate(testing_ground.name, length: 30)

        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Load Profiles
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to 'Create new', new_load_profile_path
            %li.divider
            %li
              = link_to 'Show all', load_profiles_path

        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Topologies
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to 'Create new', new_topology_path
            %li.divider
            %li
              = link_to 'Show all', topologies_path

    - if current_user
      .pull-right
        = link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary"
