%nav.navbar.navbar-default
  .container
    .navbar-header
      %a.navbar-brand{:href => "/"} Local Energy Solutions Calculator
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Local Energy Solutions
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to 'How to', page_path('how_to')
            %li.divider
            %li
              = link_to 'Import from ETM', import_testing_grounds_path
            %li.divider
            %li
              = link_to 'Show all', testing_grounds_path
            %li.divider
            %li{style: 'margin-left: 21px'}
              %em
                = "Last saved #{ @recent_testing_grounds.size }"
            - @recent_testing_grounds.each_with_index do |testing_ground, index|
              %li
                = link_to testing_ground_path(testing_ground) do
                  = "#{index + 1})"
                  = truncate(testing_ground.name, length: 30)

        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Profiles
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to 'Create new load profile', new_load_profile_path
              = link_to 'Create new financial profile', new_price_curve_path
              = link_to 'Create new behavior profile', new_behavior_profile_path
            %li.divider
            %li
              = link_to 'Show all', profiles_path

        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Topologies
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to 'Create new', new_topology_path
            %li.divider
            %li
              = link_to 'Show all', topologies_path

        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button" }
            Market Models
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to 'Create new', new_market_model_path
            %li.divider
            %li
              = link_to 'Show all', market_models_path

    .pull-right.btn-group.user-actions
      - if current_user
        = link_to "Your account", edit_user_registration_path, class: "btn btn-default btn-sm", title: "Signed in as: #{current_user.email}"
        = link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-default btn-sm", title: "Sign out of ETMoses"
      - else
        = link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-sm"

