!!!
%html
  %head
    %title ETMoses
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'layouts/nav'
    .maintenance
      .inner
        ETMoses is currenty undergoing maintenance and may not be completely
        reliable during this process. We hope to have the application restored
        to full service soon.
    .container
      = yield
    = render partial: 'layouts/footer'
    = render partial: 'layouts/hidden'

    %script{:src => "//cdn.jsdelivr.net/ace/1.1.8/min/ace.js"}
