!!!
%html
  %head
    %title ETMoses
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'layouts/nav'
    - if Rails.env.staging?
      .maintenance
        .inner
          You are using the ETMoses &ldquo;beta&rdquo; application. This is
          where new features may be tested prior to their full release, however
          stability cannot be assured and old LESes may cease to work without
          warning. You may prefer to use the
          %a(href="https://moses.energytransitionmodel.com")< production version
          instead.
    .container
      = yield
    = render partial: 'layouts/footer'
    = render partial: 'layouts/hidden'

    %script{:src => "//cdn.jsdelivr.net/ace/1.1.8/min/ace.js"}
